<!-- <div class="w-full bg-indigo-400 px-5 py-1 mt-5">
    <p class="text-2xl text-white">Criterios</p>
</div> -->
<table class="mt-5 shadow-md text-left text-gray-500 dark:text-gray-400 w-full">
    <thead class="text-xs text-gray-700 uppercase bg-indigo-200 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-6 py-3">
                Usuario
            </th>
            <th scope="col" class="px-6 py-3">
                Descripción
            </th>
            <th scope="col" class="px-6 py-3">
                <span class="sr-only">Edit</span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr
            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                Carlos René Angarita Sanguino
            </th>
            <td class="px-6 py-4">
                ¿Cuál es el mejor lenguaje de programación?
            </td>
            <td class="px-6 py-4 flex items-center">
                <a routerLink="/edit-problem"
                    class="hover:bg-indigo-100 rounded-md py-1 px-2 font-medium text-indigo-600 dark:text-indigo-500 hover:underline">
                    <!-- <fa-icon class="text-lg" [icon]="faEdit"></fa-icon> -->
                </a>
                <a routerLink="/problem"
                    class="hover:bg-indigo-100 rounded-md py-1 px-2 font-medium text-indigo-600 dark:text-indigo-500 hover:underline">
                    <!-- <fa-icon class="text-lg" [icon]="faEye"></fa-icon> -->
                </a>
            </td>
        </tr>
        <tr
            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                Claudia Yamile Gomez Llanez
            </th>
            <td class="px-6 py-4">
                ¿Cuál es la mejor metodología de desarrollo?
            </td>
            <td class="px-6 py-4 flex items-center">
                <a routerLink="/edit-problem"
                    class="hover:bg-indigo-100 rounded-md py-1 px-2 font-medium text-indigo-600 dark:text-indigo-500 hover:underline">
                    <!-- <fa-icon class="text-lg" [icon]="faEdit"></fa-icon> -->
                </a>
                <a routerLink="/problem"
                    class="hover:bg-indigo-100 rounded-md py-1 px-2 font-medium text-indigo-600 dark:text-indigo-500 hover:underline">
                    <!-- <fa-icon class="text-lg" [icon]="faEye"></fa-icon> -->
                </a>
            </td>
        </tr>
        <tr
            class="border-b dark:bg-gray-800 dark:border-gray-700 odd:bg-white even:bg-gray-50 odd:dark:bg-gray-800 even:dark:bg-gray-700">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                User Default
            </th>
            <td class="px-6 py-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum accusantium repellat molestias minima
                totam blanditiis, ad recusandae quae autem, labore praesentium quis sint debitis, harum quo inventore id
                accusamus magnam?
            </td>
            <td class="px-6 py-4 flex items-center">
                <a routerLink="/edit-problem"
                    class="hover:bg-indigo-100 rounded-md py-1 px-2 font-medium text-indigo-600 dark:text-indigo-500 hover:underline">
                    <!-- <fa-icon class="text-lg" [icon]="faEdit"></fa-icon> -->
                </a>
                <a routerLink="/problem"
                    class="hover:bg-indigo-100 rounded-md py-1 px-2 font-medium text-indigo-600 dark:text-indigo-500 hover:underline">
                    <!-- <fa-icon class="text-lg" [icon]="faEye"></fa-icon> -->
                </a>
            </td>
        </tr>
    </tbody>
</table>