<footer class="bg-gray-800 w-full">
    <div class="py-6">
    </div>
    <div class="w-full bg-black">
        <div class="w-11/12 mx-auto py-2 flex items-center justify-between text-xs">
            <p class="text-gray-400 text-center">© 2022 AHP. All rights reserved.</p>
            <ul class="flex">
                <li class="ml-6">
                    <a class="text-gray-400 uppercase" routerLink="">Política de privacidad</a>
                </li>
                <li class="ml-6">
                    <a class="text-gray-400 uppercase" routerLink="">Terminos y condiciones</a>
                </li>
            </ul>
        </div>
    </div>
</footer>