@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url(./styles/reset.scss);
// @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import '~ngx-toastr/toastr';
* {
    font-weight: normal;
    // font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    outline: none;
    resize: none !important;
}
body {
    overflow-x: hidden !important;
    background-color: white;
}
img {
    object-fit: cover;
    object-position: center;
}
.ico-select{
	right: 20px;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid #a5b4fc;
	border-bottom:4px solid #a5b4fc;
	transform: rotate(-45deg);
	transition: all 0.25s ease;
}
button{
    letter-spacing: 0.3rem;
}
.matriz {
    display: grid;
    width: 100%;
}
.matriz_div {
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 5rem;
    min-width: 5rem;
    border: 1px solid rgb(236, 233, 255);
    flex:none;
    align-items: center;
    justify-content: center;
}
.matriz_row {
    height: auto;
}
